/* .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
.card__image {
  width: 50%;
  height: 50%;


}
.error {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

.notError {
  color: green;
  font-size: 1rem;
  margin-top: 5px;
}